*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:snow;
}
.barraHead{
    height: 60px;
    background-color:white;
    margin: 5px;
}
.barraHead h1{
    color: black;
    padding: 7px;
    font-family: 'Permanent Marker';
}
#btnMenu{
    text-decoration: none;
    position:fixed;
    border: solid black;
    color: black;
    background-color: transparent;
    right: 10px;
    top: 8px;
    padding: 2px;
    margin: 5px;
    transition: 300ms;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Permanent Marker';
    cursor: pointer;
}
#btnMenu:hover{
    background-color: black;
    color:white;
}
.content{
    display: block;
    width:45em;
    height: 15em;
    margin: 0 auto;
    margin-top: 7%;
}
.instagram{
    display: inline-block;
    width: 15em;
    height: 15em;
    padding: 1em;
    opacity: 0.5;
    transition: opacity 3.5s;
    transition: 0.7s ;
}
.instagram:hover{
    padding: 0;
    opacity: 1;
}
.whatsapp{
    display: inline;
    width: 15em;
    height: 15em;
    padding: 1em;
    opacity: 0.5;
    transition: opacity 3.5s;
    transition: 0.7s ;
}
.whatsapp:hover{
    padding: 0;
    opacity: 1;
}
.facebook{
    display: inline;
    width: 14em;
    height: 14em;
    padding: 1em;
    opacity: 0.5;
    transition: opacity 3.5s;
    transition: 0.7s ;
}
.facebook:hover{
    padding: 0;
    opacity: 1;
}
.titulo{
    font-family:'Permanent Marker';
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
}