*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:snow;
}
.barraHead{
    height: 60px;
    background-color:white;
    margin: 5px;
}
.barraHead h1{
    color: black;
    padding: 7px;
    font-family: 'Permanent Marker';
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
a {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 20px;
  outline: none;
  letter-spacing: 5px;
	text-decoration: none;
	line-height: 60px;
  position: relative;
}

a:hover {
  text-decoration:none;
  color: #f2f2f2;
}

a:hover {
  color: #f2f2f2;
}

a:after {
  content: "";
	display: block;
  position: absolute;
  left: 0;
  bottom: 9px;
  width: 0;
  height: 6px;
  background-color: #202020;
  transition: width 0.2s;
}

a:hover:after {
  width: 100%;
}

.burger-bg {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  z-index: 0;
  margin: 25px;
  width: 50px;
  height: 50px;
  background: #fff;
  cursor: pointer;
  transition: width 300ms, height 300ms, margin 300ms, background-color 1ms 300ms;
}

.burger-bg.bg-animate {
  width: 100px;
  height: 100px;
  margin: 0px;
  background: #202020;
  transition: width 300ms 300ms, height 300ms 300ms, margin 300ms 300ms, background-color 1ms 300ms;
}

.bar {
  right: 0;
  top: 20px;
  margin: 25px;
  background: #202020;
  cursor: pointer;
  transition: all 300ms;
}

.bar,
.bar:after,
.bar:before {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 10px;
  transition: background-color 1ms 300ms;
}

bar.animate {
  transition: background-color 1ms 300ms;
}

.bar:before {
  content: "";
  left: 0;
  bottom: 20px;
  background: #202020;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1ms 300ms;
}

.bar:after {
  content: "";
  left: 0;
  top: 20px;
  background: #202020;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1ms 300ms;
}

/*TOP BAR*/
.bar.bar-animate:after {
  top: 0px;
  background-color: #FFF;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1ms 300ms;
}

/*BOTTOM BAR*/
.bar.bar-animate:before {
  bottom: 0;
  background-color: #FFF;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1ms 300ms;
}

/* MENU SLIDER */
.menu-slider {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: #FFF;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: all .5s;
}  

.menu-slider ul {
  display: none;
  font-size: 30px;
}

.menu-slider.menu-open {
  background-color: #202020;
  transition: background-color .5s;
}

.menu-slider.menu-open ul{
  display: block;
  transition: background-color .5s;
}
.cntTenebrio{
    width: 700px;
    margin: auto;
    margin-top: 3%;
}
.imgTenebrio{
    display:block;
    width: 500px;
    border-radius: 10px; 
    margin:auto;
}
.cntTenebrio h1{
    font-family:'Permanent Marker';
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.cntTenebrio p{
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans';
    margin-top: 20px;
}
.cntNext{
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 80px;
    width:100%;
    padding: 10px;
}
.next{
    position: fixed;
    right: 20px;
    height: 70px;
    margin-left: 80px;
    filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(184deg) brightness(99%) contrast(98%);
    transition: 300ms;
}
.next:hover{
    height: 85px;
}