*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:snow;
}
.barraHead{
    height: 60px;
    background-color:white;
    margin: 5px;
}
.barraHead h1{
    color: black;
    padding: 7px;
    font-family: 'Permanent Marker';
}
#btnMenu{
    text-decoration: none;
    position:fixed;
    border: solid black;
    color: black;
    background-color: transparent;
    right: 10px;
    top: 8px;
    padding: 2px;
    margin: 5px;
    transition: 300ms;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Permanent Marker';
    cursor: pointer;
}
#btnMenu:hover{
    background-color: black;
    color:white;
}
.cntTenebrio{
    width: 700px;
    margin: auto;
    margin-top: 3%;
}
.imgTenebrio{
    display:block;
    width: 500px;
    border-radius: 10px; 
    margin:auto;
}
.cntTenebrio h1{
    font-family:'Permanent Marker';
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.cntTenebrio p{
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans';
    margin-top: 20px;
}
.cntNext{
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 80px;
    width:100%;
    padding: 10px;
}
.back{
    position: fixed;
    left: 20px;
    height: 70px;
    filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(184deg) brightness(99%) contrast(98%);
    transition: 300ms;
    transform: scaleX(-1);
}
.back:hover{
    height: 85px ;
}