*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-image: url(../img/logoIndex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color:snow;
}
.barraHead{
    height: 60px;
    background-color:white;
    margin: 5px;
}
.barraHead h1{
    color: black;
    padding: 7px;
    font-family: 'Permanent Marker';
}
#btnContactos{
    text-decoration: none;
    position:fixed;
    border: solid black;
    color: black;
    background-color: transparent;
    right: 10px;
    top: 8px;
    padding: 2px;
    margin: 5px;
    transition: 300ms;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Permanent Marker';
    cursor: pointer;
}
#btnContactos:hover{
    background-color: black;
    color:white;
}
.cntContenido{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
}
.cntContenido a{
    display: inline-block;
    margin-top: 10px;
}
.btnNosotros{
    font-size: 3em;
    height: 2em;
    width: 6em;
    background-color: transparent;
    border:  solid white;
    color:white;
    border-radius: 5px;
    transition: 300ms;
    font-family: 'Permanent Marker';
    cursor: pointer;
    
}
.btnNosotros:hover{
    color:black;
    background-color: white;

}
.next{
    height: 70px;
    margin-left: 80px;
    filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(184deg) brightness(99%) contrast(98%);
    transition: 300ms;
}
.next:hover{
    height: 85px;
}